
{% extends 'base.html'%}

{%block conteudo%}  
    <h1 class="mt-5">Minha agenda</h1>
    <form action="{% url 'adicionar' %}">
        <button type="submit">
            <img src="/contatos/templates/img/adicionar-ficheiro.png">
        </button>
    <table class="table"></form>
    
    <thead>
        <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {%for contato in contatos%} 
            {%if contato.mostrar %}
                
                <tr>
                    <td>{{contato.id}}</td>
                    <td>
                        <a href="{% url 'ver_contato' contato.id %}"> {{contato.nome}}</a>
                    </td>
                    <td>{{contato.sobrenome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.categoria}} </td>
                    <td>
                    <div class = "new-bt">
                            
                        <form class="bt-editar" action="{% url 'editar' contato.id %}">
                            <button type="submit">
                              <img src="/contatos/templates/img/editar.png" >
                            </button>
                          </form>
                          
                       
                        
                        <form class="bt-excluir" action="{% url 'excluir' contato.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir')">
                              <img src="/contatos/templates/img/remover.png" >
                            </button>
                          </form>
                    </div>
                       </td>
                

                </tr>
            {%endif%}
        {%endfor%}
    </tbody>
    </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%for pagina in contatos.paginator.num_page%}
                    {% if contatos.number == pagina %}

                        <li class="page-item active">
                            <a class="page-link" href="?p={{pagina}}">{{pagina}}</a>
                        </li>
                    {%else%}
                        <li class="page-item">
                            <a class="page-link" href="?p={{pagina}}">{{pagina}}</a>
                        </li>
                    {%endif%}
                        
                {%endfor%}
            </ul>
        </nav>

{%endblock%}